<div>Primary font: "PingFangTC-Regular", "PingFangTC";</div>
<div><em>Primary font italic: "PingFangTC-Regular", "PingFangTC";</em></div>
<div><strong>Primary font bold: "PingFangTC-Regular", "PingFangTC";</strong></div>
