.search{
    display: flex;
}

.search-btn{
    border-radius: 0 2px 2px 0;
}

.input{
    height: 40px;
    width: 305px;
    border-radius: 2px 0 0 2px;
    border: 1px solid $color-neutral-gray-15;
    border-right: none;
}