<p>Each touchpoint on the user’s journey is represented by a node in the flow chart. These nodes are characterized by
    shape, and each shape indicates a particular process. For instance, a diamond means a decision is being made and is
    therefore followed by “Yes” and “No” arrows. A rectangle indicates a task or action that needs to be taken, like
    “Log in” or “Purchase”.</p>
<p>在用户路径上的每个交互会在流程图中表现为一个节点. 这些节点由不同的形状表现其特征. 每一种形状表示一种特殊的流程. 例如 钻石表示 决策 因此接着它之后的就是 “是” 或者 “否” 箭头. 长方形 表示一个 任务或者动作. 例如
    “登陆” 或者 “购买”.</p>