<ul class="icon-grid">
    {{#each icons}}
    <li class="icon-grid__item icon-bg">
        {{> atoms-icon iconPath=this.iconPath }}
        <span class="icon-grid__label">{{ icon }}</span>
    </li>
    {{/each}}
</ul>