<ul class="icon-grid">
    {{#each icons}}
    <li class="icon-grid__item icon-bg">
        <img src="{{ this.iconPath }}" alt="{{ alt }}" />
        <span class="icon-grid__label">{{ this.icon }}</span>
    </li>
    {{/each}}
</ul>