/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */





/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/

/**
 * Body text and background colors
 */
$color-body-text: $color-neutral-gray-65 !default;
$color-body-bg: $color-neutral-white !default;

/**
 * Highlight colors
 */
$color-text-highlight: $color-neutral-gray-65;
$color-text-highlight-bg: $color-neutral-gray-15;





/*------------------------------------*\
    #LINKS
\*------------------------------------*/
$color-links: $color-neutral-gray-65 !default;
$color-links-hover: $color-neutral-gray-65!default;
$color-links-active: $color-neutral-gray-65 !default;
$color-links-visited: $color-neutral-gray-65 !default;


/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

$color-btn-primary: $color-brand-blue !default;
$color-btn-primary-bg: $color-brand-blue !default;
$color-btn-primary-bg-hover: $color-brand-blue !default;
$color-btn-primary-border: $color-brand-blue !default;

