/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * Body Styles 
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
@mixin typographyBody() {
	font-size: $font-size-14;
	line-height: $line-height-normal;
	-webkit-text-size-adjust: 100%; /* 1 */
}


/**
 * XL Heading Styles
 */
@mixin typographyHeadingXl() {
	font-size: $font-size-34;
	font-weight: bold;
	line-height: $line-height-normal;
}

/**
 * Large Heading Styles
 */
@mixin typographyHeadingLarge() {
	font-size: $font-size-22;
	font-weight: bold;
	line-height: $line-height-normal;
}
